.password-input {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input input {
    width: 100%;
    padding-right: 40px;
}

.password-input-toggle {
    position: absolute;
    right: 4px;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 8px;
    line-height: 1;
    color: var(--color-text-faint);
}

.password-input-toggle:hover {
    color: var(--color-text);
}